header {

  h1 {
    color: white;
    font-size: 3.75rem;
    font-weight: normal;
    margin: 0;
    padding: 2rem;
  }
}

.entry {
  flex: 0 0 calc(33.3% - 1rem);

  @media (max-width: 768px) {
    flex: 1;
  }
}

  @media (max-width: 768px) {
    height: 100%;
  }

  .content {
    border: 3px solid white;
    border-radius: 57px;
    color: white;
    margin: 3rem 0;
    padding: 1.7rem 0.7rem 2rem 0.7rem;

    .location {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

.name {
  span {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
}

.weather__data {
  display: flex;

  .temperature {
    flex: 0 0 50%;
    padding: 0 1rem;
  }

  .temperature__details {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
  }

  @media (max-width: 768px) {
    align-items: center;
    flex-direction: column;
  }
}

.temperature {
  span {
    font-size: 6rem;
  }
}

.temperature__details {
  span {
    font-size: 1.375rem;
  }
}

.show-hide-button {
  float: right;
}

.forecast {
  margin-top: 2.5rem;
  width: 100%;

  .forecast__content {
    padding: .5rem;
    border: 1.5px solid white;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 2rem;

    .forecast__days {
      margin-top: 1rem;
      display: grid;
      grid-column-gap: 1.5rem;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }

    .forecast__days > div {
      display: flex;
      flex-direction: column;

      span {
        margin: .5rem 0;
      }
    }
  }
}
