html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: url('../../static/images/weather.jpg') no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
}

.input-field {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  input {
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    display: block;
    font-size: 1.4rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    width: 60%;
  }
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}